@media screen and (max-width: 1024px) {
  html {
    height: 100%;
    overflow-y: scroll;
  }

  body {
    height: 100%;
  }

  #root {
    height: 100%;
  }

  #root > div {
    height: 100%;
  }

  .add-exercise-btn {
    position: fixed;
    right: 5%;
    bottom: 5%;
  }

  .save-workout-btn {
    position: fixed;
    right: 25%;
    bottom: 5%;
  }
}
